.carousel.carousel-slider .control-arrow {
  height: fit-content !important;
  margin: auto !important;
}
.slider {
  width: 100%;
  height: 100%;
}
.carousel.carousel-slider {
  width: 100%;
  height: 100%;
}
