.app__page {
  margin-top: 21rem;
  min-height: 80vh;
}
.sliderContainer {
  width: 100%;
}
.MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
}
@media only screen and (max-width: 576px) {
  .app__page {
    margin-top: 14rem;
  }
}
