.primary_heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  background-color: #2f2f2f;
  padding: 15px 20px;
  margin: 20px auto 50px auto;
  width: fit-content;
  border-radius: 5px;
}
